
# Byte-code files
*.pyc
**/*.log

# IntelliJ Project files
.idea
*.iml

# OSX auto-save files
**/*/.DS_Store


# Editor Config

# pyenv folder
pyenv
**/*/pyenv/*

# .pyenv folder only for source maping in intellij IDEA
.pyenv
**/*/.pyenv/*

# ignore index.html
stunning-chainsaw/src/index.html
stunning-chainsaw/package-lock.json

# node modules
stunning-chainsaw/node_modules
**/*/node_modules/*
*/node_modules/*

/node_modules/
